body {
    margin: 0;
    background-color: #BBF5F7;
    font-family: 'Bitter', serif;
}

/*header*/
.header {
    overflow: hidden;
    padding: 15px 10px;
    height: 3em;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  #logoImg {
      width: 4em;
      margin: 0em;
      transform: translateY(-15%);
  }

  .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .headerButton:hover {
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    
  }
  
.headerButton {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
  
  .header-right {
    float: right;
    margin-right: 20px;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }




/*slogan*/

.slogan {
    font-size: 2.5em;
    color: white;
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
    background-color: #8EB3DD;
   }


   .idea {
    height: 50%;
    margin-top: 2em;
    display: flex;
    width: 100%;
    background-color: #00AAB6;
    font-size: 2.5em;
    color: white;
   }

   .idea-image {
     object-fit: cover;
     width: 50%;
   }

   .idea-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   /*
   .description {
    background-color: #FFF;
    display: flex;
    width: 100%;
  }

  .description-text {
    font-size: 1.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4em;
  }

  .description-pic {
    object-fit: cover;
  }

*/

   .additional {
    height: 50%;
    margin-top: 2em;
    display: flex;
    width: 100%;
    font-size: 2.5em;
    color: white;
    background-color: #9AD5ED;
   }

   .additional-image {
    object-fit: cover;
    width: 50%;
   }

   .additional-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .mockups {
    height: 50%;
    margin-top: 2em;
    display: flex;
    width: 100%;
    font-size: 2.5em;
    color: white;
    background-color: #8EB3DD;
   }

   .mockup-images {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
   }

   .mockup {
     height: 100%;
   }

   /*Prototype*/

  .aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

   .prototype-body {
     display: flex;
     align-items: center;
     flex-direction: column;
     height: 30em;
     width: 17em;
     background-color: #8EB3DD;
     border-radius: 10px;
     margin-top: 5em;
   }

   .prototype-title {
     margin: 20px;
     color: white;
     font-size: 30px;
   }

   .prototype-text {
     margin: 20px;
     color: white;
   }

   .savings-input{
     width: 150px;
     height: 30;
     font-size: 20px;
     text-align: center;
     margin: 20px;
     border-radius: 5px;
     border: none;
   }

   .price-input {
    width: 150px;
    height: 30;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
    border: none;
   }

   .calculate-button {
     margin: 20px;
     border: none;
     width: 100px;
     height: 30px;
     border-radius: 10px;
     font-size: 17px;
     cursor: pointer;
     outline: none;
   }


   .result-text {
    margin: 20px;
    color: white;
    text-align: center;
   }

   .figma-button {
    background-color: #00AAB6;
    margin: 1em;
    margin-bottom: 0;
    border: none;
    width: 5em;
    height: 1.5em;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 30px;
   }

   /*Contact*/

   .contact-div {
     background-color: #00AAB6;
     color: white;
     font-size: 30px;
     padding: 20px;
     border-radius: 10px;
     text-align: center;
   }




